* {
    font-family: "Century Gothic";
}

body {
    background: rgb(238, 236, 174);
    background: radial-gradient(circle, rgba(238, 236, 174, 1) 0%, rgba(148, 233, 211, 1) 100%);
    margin: 50px 30px 30px 30px;
}


main {
    display: flex;
    justify-content: center;

}

h1 {
    text-align: center;
}

#sectionPlayerOne {

    width: 100%;
}

#sectionPlayerTwo {
    width: 100%;
}

#game {
    width: 100%;
}

button {
    width: 10em;
    height: 10em;
    margin: 8px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.squirtle {
    width: 5.5em;
}

img {
    width: 5em;
}

.charmander,
.snorlax,
.shaymin {
    width: 4.5em;

}

.gengar,
.Bulbasaur {
    width: 4em;
}


.Gyarados {
    width: 3.5em;
}


.pika {
    width: 3em;
}
