* {
    font-family: "Century Gothic";
}
body{
    background: radial-gradient(circle, rgb(0, 225, 255) 0%,rgb(255, 176, 234)100%);

}

#title {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    width: 10em;
    height: 10em;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(169, 255, 226, 0.908);
}

.squirtle {
    width: 5.5em;
}

img {
    width: 5em;
}

.charmander,
.snorlax,
.shaymin {
    width: 4.5em;

}

.gengar,
.Bulbasaur {
    width: 4em;
}


.Gyarados {
    width: 3.5em;
}


.pika {
    width: 3em;
}